@charset "UTF-8";

table th{
  padding : 20px 10px;
  text-aligen:left;
  background-color:pink;
}

table tr{
  background-color:yellow;
}

table td{
  padding : 20px 10px;
}

body {
  font-size: 16px;
  font-family: Verdana, sans-serif;
  border: 1px solid black;
  font-color:red;
}