<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>動物紹介</title>
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
	<header id="header">
		<h1>動物紹介</h1>
		<!-- 「新規登録」ボタン 新規登録画面に遷移-->
		<input type="button" onclick="location.href='/regist'" value="新規登録" >
	 </header>

  	<section class="main">
	    <div id = "animalList" >
		    <ul>
		    	<li th:each="index : ${indexList}">
		    		<a id="animalLink" href="/detail" th:href="@{/detail/{id}(id=${index.id})}" target="_self">
		    		<img th:src="@{${'/img/' + index.picture1 + '.png'}}" />
					<p th:text="${index.animal}"></p>
					</a>
				</li>
			</ul>
		</div>
	</section>
</body>
</html>