<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>新規登録画面</title>
<link rel="stylesheet" href="css/regist.css">
</head>
<body>
<h1>新規登録</h1>
<div id="input_form">
<div th:object="${registForm}">
<form action="#" th:action="@{/detail}" method="POST">
<table>
	<tbody>
	  <tr>
	    <th>動物の名前</th>
	    <td><input type="text" id="animal" name="animal" ></td>
	  </tr>

	  <tr>
	    <th>特徴</th>
	    <td><input type="text" id="features" name="features"></td>
	  </tr>
	  <tr>
	    <th>生息地</th>
	    <td><input type="text" id="habitat" name="habitat"></td>
	  </tr>
	</tbody>
</table>
	<input type="file" name="example" accept="image/jpeg, image/png">
	<input type="button" onclick = "location.href='/index'" value="戻る">
	<input type="submit" value="登録">
</form>
</div>
</div>
</body>
</html>